<div>Dear: <%= @user.name %><div><br />

<div>Thank you for contacting Sajetarian with the below comments:</div>
<div class="customer-comment"><%= @user.comment %></div>

<div class="left">We will be following up with you soon,</div>
<p class="signature">Sajetarian</p>
