@import 'fullcalendar';

.calendar-container {
  $calendar-font-size: 14px;

  .fc-header-toolbar {
    font-size: $calendar-font-size;

    h2 {
      font-size: 16px;
    }
  }

  .fc-widget-header table {
    margin: 0;
    font-size: $calendar-font-size;
  }

  .fc-scroller {
    font-size: $calendar-font-size;
    overflow-y: hidden !important;
    height: 325px !important;
    line-height: normal;
  }
}
