.contact-container {
  .contact-content-wrapper {
    line-height: 1.6em;

    @include media($desktop) {
      @include span-columns(6);
      display: flex;
      font-size: 24px;
      padding: $base-padding;
    }

    @include media($tablet) {
      @include span-columns(12);
      display: flex;
      font-size: 18px;
      margin: 0 auto;
    }

    @include media($mobile) {
      @include span-columns(4);
      font-size: 14px;
      display: flex;
      margin: 0 auto;
    }
  }

  .contact-content {
    @include media($desktop) {
      width: 100%;
    }

    @include media($tablet) {
      width: 80%;
    }

    @include media($mobile) {
      width: 100%;
    }

    background-image: $contact-bg-image;
    background-size: cover;
    border-radius: 18px;
    color: $white;
    padding: $base-padding;
    padding-top: 80px;
    margin: 0 auto;

    .contact-info-wrapper {
      @include media($desktop) {
        @include span-columns(6);
        margin-top: 80px;
        float: right;
        width: auto;
      }

      @include media($tablet) {
        @include span-columns(12);
        margin-top: $base-padding;
        float: right;
        width: auto;
      }

      @include media($mobile) {
        @include span-columns(4);
        float: right;
        width: auto;
      }

      .contact-info {
        margin: 0 10px;
      }
    }
  }

  .contact-form {
    @include span-columns(6);
    position: relative;

    .input-field {
      padding: $base-padding 0;
      position: relative;

      i {
        color: $disabled-grey;
        font-size: 30px;
        left: 0;
        top: $base-padding;
        position: absolute;
      }

      textarea,
      input[type=email],
      input[type=text] {
        @include form-input;
      }
    }

    input[type=submit] {
      @include submit-button;
    }
  }

  .social-button-wrapper {
    .section-title {
      padding: 10px;
    }

    .social {
      font-size: 30px;
    }

    .social-connect {
      padding: 0 $base-padding;
      text-decoration: none;

      &:first-child {
        padding-left: 0;
      }
    }

    .twitter {
      color: $twitter-blue;
    }

    .instagram {
      color: $instagram-purple;
    }

    .facebook {
      color: $facebook-blue;
    }
  }
}
