.contact-container {

  @include media($mobile) {
    padding: 10px;
  }

  .contact-content-wrapper {
    @include span-columns(4);

    @include media($mobile) {
      @include span-columns(12);
    }

    .contact-info {
      display: block;
      margin: 0 10px;
      text-decoration: none;
    }

    .social-buttons {
      display: inline-block;
      font-size: 24px;
      padding: $base-padding 0;


      .social-connect {
        padding: 0 $base-padding;
        text-decoration: none;
      }


      .twitter {
        color: $twitter-blue;
      }

      .instagram {
        color: $instagram-purple;
      }

      .facebook {
        color: $facebook-blue;
      }
    }
  }

  .instagram-media {
    @include span-columns(8);
    position: relative;

    @include media($mobile) {
      @include span-columns(12);
    }

    .slick-list {
      overflow: hidden;
    }

    img {
      max-height: 400px;
      padding: 10px;
    }

    button:not(.disabled):hover {
      background-color: $brand-accent-color-light;
      background-image: none;
    }
  }
}
