.contact-container {
  .contact-content {
    @include span-columns(6);
    background-image: $contact-bg-image;
    background-size: cover;

    color: $white;
    border-radius: 18px;

    padding: $base-padding;

    .contact-info-wrapper {
      @include span-columns(6);
      float: right;
      margin: 0 auto;
      margin-top: 120px;
      padding-left: $base-padding;

      .contact-info {
        margin: 0 10px;
      }
    }
  }

  .contact-form {
    @include span-columns(6);
    position: relative;

    .input-field {
      padding: $base-padding 0;
      position: relative;

      i {
        color: $disabled-grey;
        font-size: 30px;
        left: 0;
        top: $base-padding;
        position: absolute;
      }

      textarea,
      input[type=email],
      input[type=text] {
        @include form-input;
      }
    }

    input[type=submit] {
      @include submit-button;
    }
  }

  .social-button-wrapper {
    .section-title {
      padding: 10px;
    }

    .social {
      font-size: 30px;
    }

    .social-connect {
      padding: 0 $base-padding;
      text-decoration: none;

      &:first-child {
        padding-left: 0;
      }
    }

    .twitter {
      color: $twitter-blue;
    }

    .instagram {
      color: $instagram-purple;
    }

    .facebook {
      color: $facebook-blue;
    }
  }
}
