.full_image {
  width: 100vw;
  left: 50%;
  margin: -80px -50vw 0;
  max-height: 500px;
  overflow: hidden;
  right: 50%;
  position: relative;

  @include media($mobile) {
    margin: 0;
    max-height: 280px;
    left: 0;
    right: 0;
  }

  .image-overlay {
    @include image-overlay(500px);
  }

  .component-background {
    position: relative;
    width: 100%;
  }

  .logo {
    background-image: image-url('logo-white.png');
    height: 100%;
    max-width: 450px;
    background-size: contain;
    background-position: center 20%;
    background-repeat: no-repeat;
    margin: auto;

    @include media($mobile) {
      max-width: 70%;
      margin: 0 auto;
    }
  }

  .full-image-caption {
    display: block;
    font-size: 50px;
    color: $white;
    height: 100%;
    letter-spacing: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .caption-description {
    transform: translateY(40%);
  }
}
