.map-container {
  .map-content {
    @include media($tablet-and-larger) {
      @include span-columns(6);
    }

    @include media($mobile) {
      @include span-columns(12);
    }
  }

  .map-section {
    @include media($tablet-and-larger) {
      @include span-columns(6);
    }

    @include media($mobile) {
      @include span-columns(12);
    }

    #google-map {
      height: 400px;
      width: 100%;
    }
  }

  .map-info-date {
    margin: 1.5em 0;
  }
}
