#menu {
  .btn-wrapper {
    text-align: center;
  }

  .btn {
    @include button;
    color: $white;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
  }

  .menu-items {
    @include media($desktop) {
      @include span-columns(6);
    }

    @include media($tablet) {
      @include span-columns(12);
    }

    @include media($mobile) {
      @include span-columns(12);
    }

    .category-name {
      text-align: center;
      font-weight: 300
    }

    .menu-item {
      margin: auto $base-padding;
      position: relative;

      .name,
      .price {
        display: inline-block;
        margin: 0;
      }

      .price {
        position: absolute;
        top: 0;
        right: 0;
      }

      .note {
        color: grey;
        font-size: 14px;
        line-height: 1.4em;
      }
    }
  }

  .disclaimer {
    @include span-columns(12);
  }
}
