.page-section {
  @include outer-container;
  padding: $base-padding;
  margin: $section-margin auto;
}

.section-title {
  text-align: center;
  padding-bottom: $base-padding;

  .title {
    display: unset;
    font-weight: lighter;
    letter-spacing: 0.1em;
    padding: 0 50px;
    position: relative;

    &:before,
    &::after {
      background-color: $brand-accent-color;
      content: '';
      height: 1px;
      position: absolute;
      top: .6em;
      width: 35px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }
}

.subtitle {
  color: $brand-accent-color;
  font-family: cursive;
  font-size: 24px;
  margin-top: 0;
  text-align: center;
}

.text-section {
  @include span-columns(10);
  float: none;
  margin: auto !important;
}
