<div class="page-section contact-container">
  <div class="social-buttons">
    <div class="col m12 social">
      <a href="https://twitter.com/caroline_louie" class="social-connect twitter" target="_blank">
    		<i class="fab fa-twitter fa-3x icon-outline"></i>
      </a>
      <a href="https://twitter.com/caroline_louie" class="social-connect instagram" target="_blank">
    		<i class="fab fa-instagram fa-3x icon-outline"></i>
      </a>
      <a href="https://twitter.com/caroline_louie" class="social-connect facebook" target="_blank">
    		<i class="fab fa-facebook-f fa-3x icon-outline"></i>
      </a>
    </div>
  </div>
</div>
