<div class="content-container">
  <%= render 'title', section: section %>
  <div class="description">
    <%= parsed_content(section.description, linked_text: section.link_text, linked_section: section.page_section_id) %>
  </div>
</div>
