<%= render 'title', section: section %>

<div class="map-content">
  <div class="calendar-container">
    <div id='event_calendar' class="calendar"></div>
  </div>
</div>

<div class="map-section">
  <div id="google-map">
  </div>
  <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnsIdbz6JGAtDuQBEpdWYA1GBZY5-7I7c&callback=initMap">
  </script>
</div>
