<%= render 'title', section: section %>

<div class="map-content">
  <div class="calendar-container">
    <div id='event_calendar' class="calendar"></div>
  </div>
</div>

<div class="map-section">
  <div id="google-map">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY5hAzA_0TmHU543X4rhhlNYIpZBM9WGw&callback=initMap">
   </script>
  </div>
</div>
