<%= render 'title', section: section %>

<div class="map-content">
  <div class="calendar-container">
    <div id='event_calendar' class="calendar"></div>
  </div>
</div>

<div class="map-section">
  <div id="google-map">
    <script>
      if(window.google){
        initMap();
      } else{
        $.ajax('https://maps.googleapis.com/maps/api/js?signed_in=false&callback=initMap', {
          crossDomain: true,
          dataType: 'script'
        });
      }
    </script>
  </div>
</div>
