<div class="map-content">
  <%= render 'title', section: section %>

  <% todays_events.each do |event| %>
    <p><strong>Where: </strong><%= event.address %></p>
    <p><strong>When: </strong><%= event.start_time %> - <%= event.end_time %></p>
  <% end %>
</div>

<div class="map-section">
  <div id="google-map">
  </div>
  <script async defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnsIdbz6JGAtDuQBEpdWYA1GBZY5-7I7c&callback=initMap">
  </script>
</div>
