<div class="image-layout">
  <div class="image-wrapper <%= section.image_layout %>">
    <%= image_tag section.image %>
    <div class="image-overlay"></div>
  </div>

  <%= render "/page_sections/page_types/#{page_layout(section)}", section: section %>
</div>
