<div class="image-layout">
  <div class="<%= section.image_layout %>">
    <%= image_tag section.image %>
  </div>

  <div class="content-container">
    <div class="section-title">
      <h3 class="title"><%= section.name %></h3>
    </div>
    <%= section.description %>
  </div>
</div>
