<header class="nav-container">
  <nav class="nav-header">
    <div class="header-image"></div>
    <div class="nav-overlay"></div>

    <div class="nav-wrapper">
      <div class="nav-content">
        <li class="brand-logo"><%= link_to "Sajetarian", root_path, class: "brand-link" %></li>
        <li data-behaviour="show-hamburger-menu" class="hamburger">&#9776;</li>
        <li data-behaviour="hide-hamburger-menu" class="cross">&#735;</li>
        <ul class="right nav-items">
          <%= yield :header_nav %>
        </ul>
      </div>
    </div>
  </nav>
</header>
