<header class="nav-container">
  <nav class="nav-header">
    <div class="header-image"></div>
    <div class="nav-overlay"></div>

    <div class="nav-wrapper">
      <div class="nav-content">
        <li class="brand-logo"><%= link_to "Sajetarian", root_path, class: "brand-link" %></li>
        <li data-behaviour="show-hamburger-menu" class="hamburger">&#9776;</li>
        <li data-behaviour="hide-hamburger-menu" class="cross">&#735;</li>
        <ul class="right nav-items">

          <% if pages.present? %>
            <% pages.each do |section| %>
              <% anchor = to_snakecase(section.name) %>
              <li data-behaviour = "scroll-button" data-target = "<%= anchor %>" class = "nav-button" >
                <%= section.name %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
