@import "colours";

$bg-colour: $light-grey;
$base-font-colour: $grey;

$base-font-size: 18px;
$base-padding: 20px;

$brand-accent-color: $yellow-gold;


// Social Colours
$twitter-blue: #55ACEE;
$facebook-blue: #3b5998;
$instagram-purple: #acbbff;
