body {
  background-color: $bg-colour;
  color: $base-font-colour;
  font-size: $base-font-size;
  line-height: 1.85em;
}

.main-container {
  margin: auto;
  max-width: $content-max-width;
  position: relative;

  @include media($larger) {
    max-width: 100%;
  }

  @include media($tablet-and-larger) {
    margin-top: $header-height;
    padding: $base-padding;
  }

  @include media($mobile) {
    padding: $base-padding 0;
  }
}
