body {
  background-color: $bg-colour;
  color: $base-font-colour;
  font-size: $base-font-size;
  line-height: 1.85em;
}

.main-container {
  margin: auto;
  max-width: 1280px;
  padding: $base-padding;
}
