.nav-container {
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .header-image {
    background-image: asset-url('nav_banner.png');
    height: $header-height;
    position: relative;
  }

  .nav-overlay {
    height: $header-height;
    top: 0;
    left: 0;
    background-color: rgba($grey, 0.2);
    position: absolute;
    width: 100%;
  }

  .nav-header {
    height: $header-height;
    list-style: none;
    text-decoration: none;
  }

  .nav-wrapper {
    position: absolute;
    top: 15px;
    width: 100%;

    .nav-content {
      position: relative;
      max-width: $content-max-width;
      padding: 0 $base-padding;
      margin: 0 auto;

      .brand-logo {
        background-image: $logo;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 0 $base-padding;
        text-indent: -9999px;
        width: $header-logo-width;
      }
    }
  }

  .nav-items {
    display: flex;
    color: $white;
    list-style: none;
    margin: 0 $base-padding;
    cursor: pointer;

    li {
      padding: 0 $base-padding;
    }
  }
}
