.nav-container {
  height: $header-height;
  width: 100%;

  .header-image {
    position: relative;
    height: $header-height;
    background-image: asset-url('sajHeader.png');
  }

  .nav-overlay {
    height: $header-height;
    top: 0;
    left: 0;
    background-color: rgba($white, 0.4);
    position: absolute;
    width: 100%;
  }

  .nav-header {
    height: $header-height;
    list-style: none;
    text-decoration: none;
  }

  .nav-wrapper {
    position: absolute;
    top: 15px;
    width: 100%;

    .nav-content {
      position: relative;
      max-width: $content-max-width;
      padding: 0 $base-padding;
      margin: 0 auto;

      .brand-logo {
        display: inline-block;
        padding: 0 $base-padding;
      }
    }
  }

  .nav-items {
    display: flex;
    list-style: none;
    margin: 0 $base-padding;
    cursor: pointer;

    li {
      padding: 0 $base-padding;
    }

  }
}
